@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f5; /* Match the dashboard background */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

button:active {
  transform: scale(0.98);
}